a<h1>
Hi!, This is my blog Application
</h1>
<ul>
<% @articles.each do |article| %>
    <a href = "<%= article_path(article) %>" >
    <li><%= article.title %></li>
    </a>
    <li><%= article.body %></li>
 <% end %>
</ul>
